@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  overflow-x: hidden;
}

#name {
  color: #02bfbf;
}

/* .ProSec {
  width: 70%;
  margin: 10rem auto;
  height: 1000px;
} */

.slide img {
  width: 200px;
  margin: 0 auto;
}

.slide {
  transform: scale(0.2);
  transition: transform 300ms;
  opacity: 0.5;
  cursor: pointer;
}

.activeSlide {
  transform: scale(1);
  opacity: 1;
  cursor: pointer;
}

.slick-dots li button:before {
  color: #02bfbf;
}

.slick-dots li.slick-active button:before {
  color: #02bfbf !important;
  transform: scale(1.5);
  transition: all 0.3s ease-in-out;
}

.arrow {
  background-color: #010606;
  color: #fff;
  /* background: #fff; */
  position: absolute;
  cursor: pointer;
  z-index: 10;
}

.arrow svg {
  transition: color 300ms;
}

.arrow svg:hover {
  color: #02bfbf;
}

.next {
  right: 0%;
  top: 50%;
}

.prev {
  left: 0%;
  top: 50%;
}

.text-typing-1 {
  margin: 0px;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s steps(22, end) forwards, blink 0.5s step-end alternate;
}

.text-typing-2 {
  margin: 0px;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s steps(22, end) forwards, blink 0.5s step-end alternate;
  animation-delay: 2s;
  animation-fill-mode: both;
}

@keyframes typing {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes blink {
  0%,
  100% {
    border-right: 2px solid transparent;
  }
  50% {
    border-right: 2px solid #fff;
  }
}
